<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    The purpose of this project is to showcase my knowledge in the field of Spring Boot Rest API. However, please
    note that it is not recommended
    for use on mobile devices or mobile views as it is not yet responsive. Of course, the application will be
    continuously improved, and responsive
    views and other enhancements can be expected in the future.
  </p>
  <p>
    Please note that logging in or registering may take a few minutes to execute, as the server is deployed on
    render.com
    using the free version. This may result in slow startup.
  </p>
  <p>
    To keep things simple, email registration is
    not available. If you wish to log in as an admin, you can use the following credentials:
  </p>
  <p>
    Username: admin <br>
    Password: Admin
  </p>
  <p>
    You can reach my LinkdIn profile and the project Spring boot source code below.
  </p>

</div>
<div class="modal-footer">
  <div class="linked-in">
    <a href="https://www.linkedin.com/in/attila-papp-6bb70b1b7/">
      <i class="fa fa-linkedin-square fa-3x" style="color: #2867B2;"></i> </a>
  </div>
  <div class="github">
    <a style="color: black;" href="https://github.com/attilapapp0521/spring-boot-dating-app">
      <i class="fa fa-github-square fa-3x"></i> </a>
  </div>


  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>